---
layout: base.njk
title: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---
<div class="wrap">
  <h1 class="page-title">That page is not here</h1>
  <p class="lede" style="margin-block-start:1.25rem">
    It may have moved when I rebuilt this site. The writing is all still around.
  </p>
  <p style="margin-block-start:2rem">
    <a class="textlink" href="/blog/">Writing</a> ·
    <a class="textlink" href="/">Home</a>
  </p>
</div>
